{% extends 'base.html' %}

{% block body %}
<div id="header">
  <h1>Artifact from {{ job }}/{{ build_name }}/{{ component_name }}: </h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div id="content">
  <h2>{{ artifact["type"] }}: {{ artifact["filename"] }}</h2>
<pre>
{{ artifact["data"] }}
</pre>
</div>
{% endblock %}

