<html xmlns="http://www.w3.org/TR/xhtml1/strict">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Mesa i965 CI Results{% if title %}{{ ': ' + title }}{% endif %}</title>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>

